[name="view-as"] {
    display: none;
}

[name="view-as"] + label {
    padding: 4.48px 12.8px;
    background-color: #fff;
    color: #323a46;
    cursor: pointer;
}

[for="view-as-table"] {
    border-radius: 999px 0 0 999px;
}
[for="view-as-kanban"] {
    border-radius: 0 999px 999px 0;
}

[name="view-as"]:checked + label {
    background-color: #323a46;
    color: #fff;
    transition: 0.125s;
    border-color: #323a46;
}

.highlight {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
}

.dropdown-menu > li {
    position: relative;
}

.dropdown-item:hover + .dropdown-menu.dropdown-submenu {
    display: block;
}

.dropdown-menu.dropdown-submenu {
    top: 0;
    left: 100%;
}
.dropdown-menu.dropdown-submenu:hover {
    display: block;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 #ff5b5b;
    }
    70% {
        box-shadow: 0 0 0 10px rgba(var(--pulse-color, 0, 0, 0), 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(var(--pulse-color, 0, 0, 0), 0);
    }
}

/* Personalizacion de chevrons en DataGrid */
.dx-datagrid-rowsview .dx-command-expand {
    vertical-align: middle !important;
    text-align: center !important;
}
.dx-command-expand .dx-datagrid-group-closed::before {
    content: "\F0142" !important; /* mdi-chevron-right */
    font-family: "Material Design Icons" !important;
    font-size: 20px !important;
    color: #6C757D !important;
    display: inline-block;
}
.dx-command-expand .dx-datagrid-group-opened::before {
    content: "\F0140" !important; /* mdi-chevron-down */
    font-family: "Material Design Icons" !important;
    font-size: 20px !important;
    color: #315AFE !important;
    display: inline-block;
}
.dx-command-expand .dx-datagrid-group-closed,
.dx-command-expand .dx-datagrid-group-opened {
    background-image: none !important;
    text-align: center;
    line-height: 1;
    width: 28px !important;
    height: 28px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
}
.dx-command-expand .dx-datagrid-group-closed:hover,
.dx-command-expand .dx-datagrid-group-opened:hover {
    background-color: rgba(49, 90, 254, 0.08) !important;
}