[name="view-as"] {
    display: none;
}

[name="view-as"] + label {
    padding: 4.48px 12.8px;
    background-color: #fff;
    color: #323a46;
    cursor: pointer;
}

[for="view-as-table"] {
    border-radius: 999px 0 0 999px;
}
[for="view-as-kanban"] {
    border-radius: 0 999px 999px 0;
}

[name="view-as"]:checked + label {
    background-color: #323a46;
    color: #fff;
    transition: 0.125s;
    border-color: #323a46;
}

.highlight {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
}
